.loginContainer {
	@apply h-screen bg-gray-50;
}
.loginForm {
	@apply w-[400px] md:w-[350px] sm:w-[300px] mx-auto;
}

.loginFormItem {
	margin-bottom: 5px;
}

.loginFormItem + .loginFormItem {
	margin-bottom: 15px;
}

.loginBox {
	height: 50px;
}

.loginBox span {
	@apply flex items-center;
}

.autoLogin {
	margin-bottom: 15px;
}

.autoLogin span {
	@apply text-gray-500;
}

.loginBtn {
	@apply w-full rounded-md;
}

.loginSubMenu {
	@apply flex pt-[15px] justify-center text-gray-500;
}

.loginSubMenu li + li {
	margin-left: 28px;
	position: relative;
}

.loginSubMenu li + li::after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: -14px;
	width: 2px;
	height: 70%;
	transform: translate(-50%, -50%);
	background-color: #dedede;
}

.loginSubMenu li a:hover {
	@apply text-gray-700;
}
