.routineItem {
	@apply flex gap-2 border-b-2 border-gray-100 border-solid;
}
.routineContent {
	@apply w-full h-full rounded-[7px] flex justify-start px-8 py-2;
}
.routineActiveStatus {
	@apply w-1/12;
}
.routineActiveStatusCircle {
	@apply w-5 h-5 mt-1 rounded-full cursor-pointer flex justify-center items-center shrink-0	overflow-hidden;
	outline: 1px solid grey;
}
.routineActiveStatusCircle.active {
	outline: 1px solid #37e2d5;
}
.routineActiveStatusCircle:hover {
	outline: 1px solid #37e2d5;
	transition: outline 0.3s cubic-bezier(0.44, 0.02, 0.6, 1.01);
}
.checkedIcoon {
	@apply w-3;
	stroke: #37e2d5;
	stroke-width: 20px;
}
.checkedIconBg {
	@apply flex items-center justify-center w-full h-full;
}
.routineTxtBox {
	@apply w-8/12 h-full;
}
.titleTxt {
	@apply text-gray-700;
}
.contentTxt {
	@apply text-sm text-gray-500;
}
.timeTxt {
	@apply text-xs text-gray-500;
	margin-top: 3.5px;
}
.dateTxt {
	@apply text-xs text-gray-500 self-end;
	margin-bottom: 3.5px;
}

.lineThroughTxt {
	@apply line-through;
}
